@charset "UTF-8";
@import "head";

/* 共通部分
------------------------------ */
html {
    font-size: 100%;
}
body {
    font-family: "Noto Serif JP", "Noto Serif", "sans-serif";
    letter-spacing: 0.05em;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
li {
    list-style-type: none;
}
.inner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 8.5%; // padding: 0 120px → (120 / 1440 * 100)%
}
.container {
    padding: 0 8.5%; // padding: 0 100px
}
.y-btn {
    background-color: #F7D43F;
    padding: 19px 71px;
    border-radius: 30px;

    @include f-box(normal, bold, 1rem, 1.25, #171717);

}

// HEADER
.header {

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    font-weight: bold;
    font-style: italic;

    &.sticky {
        background-color: #282F35;
        transition: 0.5s;
    }

    .inner {
        min-width: 100%;
    }

    a {
        color: #fff;
    }

    .logo {
        font-size: 1.6rem;
        line-height: 46px;
    }

    .header-wrap {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;

        .header-nav {
            .nav-list {
                display: flex;

                .nav-item {
                    margin-left: 30px;
                    line-height: 46px;
                }
            }
        }
    }
    
    &.contact-header {
        position: absolute;
    }
}

// FIRST VIEW
.fv {
    width: 100%;
    height: 80vh;

    .fv-wrap {

        .slider {

            .slider-item {
                // background-repeat: no-repeat;
                // background-position: center;
                // background-size: cover;

                img {
                    object-fit:cover;
                    width: 100%;
                    height: 80vh;
                }
            }
        }
    }
    

    // 文字をimgの上にのせる
    position: relative;
    .inner {
        position: absolute;
        bottom: 171px;
        left: 0;

        p:first-of-type {
            @include f-box(normal, bold, 4.375rem, 1.25, #fff);
            margin-bottom: 20px;
        }
        p:last-of-type {
            @include f-box(normal, bold, 2.5rem, 1.25, #fff);
        }
    }
}

// CONCEPT
.concept {

    padding: 100px 0 70px;

    @include sec-title($top-text-color, left);

    .desc {
        text-align: center;
        margin: 70px 0 60px;

        @include f-box(normal, bold, 1.8rem, 1.6);
    }
    
    .concept-box {
        display: flex;
        align-items: center;
        text-align: justify;

        p {
            padding-right: 120px;
            @include f-box(normal, bold, 1rem, 1.875);
            flex: 1;
        }

        .img-wrap {
            flex:1;
        }
    }

    @include bottom-text($bottom-text-color-r, right);
}

// WORKS
.works {

    background-image: url("../img/works-bgi@2x.jpg");
    background-size: cover;
    text-align: center;
    padding-bottom: 70px;


    @include sec-title($color-white, right, 104px);
    @include bottom-text($color-white, left);

    .works-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;

        margin: 80px 0;

        .works-item {
            background-color: #fff;

            p {
                padding: 25px 20px;
                text-align: justify;
                @include f-box(normal, 400, 1rem, 1.875, #141414);
            }
        }
    }
    
}

// SERVICE
.service {

    margin: 100px 0 70px;

    @include sec-title($top-text-color, left);
    @include bottom-text($bottom-text-color-r, right);

    .service-list {
        display: flex;
        margin-top: 80px;

        .service-item {

            position: relative;
            text-align: center;
            width: 100%;

            .service-img-wrap {

                img {
                    width: 100%;
                }

            }
    
            .service-text {
                position: absolute;
                top: 50%;
                width: 100%;
                transform: translateY(-50%);
                @include f-box(italic, bold, 2.5rem, 1.25, #fff);

                // 文字を真ん中にと高さを親要素いっぱいに
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: rgba(#282F35, 0.7);
                    border: 1px solid #707070;
                    cursor: pointer;
                    transition: 0.3s;
                }
            }
        }
    }
}

// CONTACT
.contact {

    background-image: url("../img/contact-bgi@2x.jpg");
    background-size: cover;
    padding-bottom: 70px;

    @include sec-title($color-white, right, 109px);
    @include bottom-text($color-white, left);

    .contact-wrap {

        text-align: center;
        margin-top: 80px;

        .contact-text {
            color: #fff;
            margin-bottom: 40px;

            @include f-box(normal, bold, 1.25rem, 1.45, #fff);
        }
    }
}

// FOOTER
.footer {
    text-align: center;

    small {
        display: block;
        padding: 30px 0;
        @include f-box(normal, bold, 0.875rem, 2.1, #282F35);
    }
}

// CONTACT PAGE
.contact-top {
    background-image: url(../img/contact-page-bgi@2x.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 48vh;
    position: relative;

    .title {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include f-box(italic, bold, 3.75rem, 0.8, #fff);
        letter-spacing: 0.1em;
    }

    .bottom-text {
        position: absolute;
        bottom: 8%;
        left: 4%;
    }
    @include bottom-text($color-white, left, 0);

}

.contact-form {
    .form-wrap {
        padding: 97px 26% 80px;

        form {
            .form-item {
                display: flex;
                flex-direction: column;
                margin-bottom: 22px;

                label {
                    margin-bottom: 3px;
                }

                .check-label {
                    margin-right: 20px;
                }

                input[type="checkbox"] {
                    margin-right: 10px;
                    border: 1px solid #141414;
                }

                input[type="text"],
                input[type="tel"],
                input[type="email"] {
                    border: 1px solid #141414;
                }
                textarea {
                    border: 1px solid #141414;
                    margin-bottom: 80px;
                }
            }

            .sub-wrap {
                text-align: center;
            }

        }
    }
}